@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #010006;
    color: white;  
    font-family: 'Cinzel';
    font-size: medium;
    font-weight: lighter;

}


   
.top-head {
    display: flex;
    padding: 10px;
    background-color: #24013d;
    color: #ffffff;
    border-bottom-right-radius: 5rem;
    background: 200cm 200cm  100cm 200cm;
    text-shadow: #ffffff 5px 5px 5px ;
}

.top-head ul {
    display: flex;
    list-style: none;
    font-weight: bolder;    
    gap: 200px;
    margin-top: 20px;
    font-size: larger;
}



.top-head ul li a{
    justify-content: space-evenly;
    color: #010006;
    text-decoration: none;
    font-weight: bolder;
    margin-bottom: 1cm;
    margin-top: 1cm;
    text-align: center;
    color: #ffffff;
   
}

.top-head ul li a:hover{
   
    background-color: #15061f;
    border-radius: 15px;
    transform: scale(0.5rem);
   
}



.logo img{
    margin-right: 10cm;
    margin-left: 50px;
    transition: transform 1s;
   
}

.nombre {
    font-size: 0.9cm;
   transition: transform 0.5s;
}
 .nombre:hover{
   
    transform: translateY(-20px);
    transform: translateX(20px);
    transform: scale(1.05);
   

}

.intro {
    box-sizing: border-box;
    display: flex;
    text-align: center;
    font-size: large ;
}

.intro h1{
    box-sizing: border-box;
    width: max-content;
    background-color: #24013d;
    margin-right: 30px;
    margin-left: 230px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    text-shadow: #ffffff 0px 0px 5px;
   
   
}



.intro h4{
    background-color: #2B1847;
    box-sizing: border-box;
    width: fit-content;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
    font-weight: lighter;
    padding-right: 10px;
    border-radius: 20px;
    width: 230px;
    height: 280px;
    box-shadow: #2B1847  8px 8px 8px 10px  ;
    transition: transform 0.5s;
    padding: 30px;
   
}

.intro h4:hover{
   
    transform: translateY(-100px);
    transform: translateX(-20px);
    transform: scale(1.05);
}

.botones {
    box-sizing: border-box;
    width: 50px;
    display: flex;
    padding-top: 10px;
    margin-left: 430px;
    gap: 280px;
   
}

.botones li{
    list-style: none;
    text-decoration: none;
}

.botones li a {
   
    text-shadow: #ffffff 0px 0px 3px;
    font-size: larger;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    background-color: #24013d;
    border-radius: 5px;
    width: max-content;
    display: inline-block
   
}

.botones  li a:hover{ /* Fix this before sending*/
    background-color: #0e041a;
    transform: translateY(1.1px);
    transform: translateX(1.1px);
    transform: scale(1.05);
}


E-h1{
  background-color: #24013d;
}

.eventos{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  gap: 20px;
}

.card1{
  padding: 10px;
  background-color: #2B1847;
  margin-left: 30px;
  border-radius: 20px;
  background: max-content;
  transition: transform 0.5s ease-in-out;
  
}

.card1:hover{
  transform: translateY(-100);
  transform: scale(1.1);
}

.map1{
  border-radius: 10px;
}

.map1:hover {
  transform: translateX(10px);
  transform: translateY(10px);
  transform: scale(0.1px);
}

.card2{
  padding: 10px;
  background-color: #2B1847;
  margin-left: 30px;
  border-radius: 20px;
  background: max-content;
  transition: transform 0.5s ease-in-out;
}

.card2:hover{
  transform: translateY(100px);
  transform: scale(1.1);
}

.map2{
  border-radius: 10px;
}

.hs{
  padding-top: 30px;
  margin-bottom: 50px;
}

.hs h1{
  text-align: center;
  
  
}

.hs h2{
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
}




.sobremi{
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  gap: 20px;
  margin: 40px;
  margin-top: 20px;
  
}

.sobremi p{
    padding: 20px;
    border-radius: 20px;
    background-color: #24013d;
    transition: transform 0.5s;
}

.sobremi p:hover{
    transform: scale(1.05);
  transform: translateX(1.08);
  box-shadow:  #24013d 1px 1px 3px 3px;

}

.me{
    width: 300px;
    height: 300px;
    transition: transform 0.5s;
    
    
}


.me:hover{
    transform: scale(1.05);
  transform: translateX(1.08);
}


footer{
    justify-content: center;
      text-align: center;
      font-weight: bolder;
      background-color: #24013d;
  }

