@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

body{
    background-color: #010006;
    color: white;  
    font-family: 'Cinzel';
    font-size: medium;
    font-weight: lighter;

}


    
.top-head { 
    display: flex;
    padding: 10px;
    background-color: #24013d; 
    color: #ffffff; 
    border-bottom-right-radius: 5rem;
    background: 200cm 200cm  100cm 200cm;
    text-shadow: #ffffff 5px 5px 5px ;
}

.top-head ul {
    display: flex;
    list-style: none;
    font-weight: bolder;    
    gap: 200px;
    margin-top: 20px;
    font-size: larger;
}



.top-head ul li a{
    justify-content: space-evenly;
    color: #010006;
    text-decoration: none;
    font-weight: bolder;
    margin-bottom: 1cm;
    margin-top: 1cm;
    text-align: center;
    color: #ffffff; 
    
}

.top-head ul li a:hover{
    
    background-color: #15061f;
    border-radius: 15px;
    transform: scale(0.5rem);
    
}



.logo img{
    margin-right: 10cm;
    margin-left: 50px;
    transition: transform 1s;
    
}
.stands-des img {
    margin: 5px;
    width: 10%;
   display: flex;
}

.nombre {
    font-size: 0.9cm;
    transition: transform 0.5s ease-in-out;
    
}
 .nombre:hover{
    
    transform: translateY(-20px);
    transform: translateX(20px);
    transform: scale(1.05);
    

}

.intro {
    box-sizing: border-box;
    display: flex;
    text-align: center;
    font-size: large ;
}

.intro h1{
    box-sizing: border-box;
    width: max-content;
    background-color: #24013d;
    margin-right: 30px;
    margin-left: 230px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    text-shadow: #ffffff 0px 0px 5px;
    
    
}



.intro h4{
    background-color: #2B1847;
    box-sizing: border-box;
    width: fit-content;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
    font-weight: lighter;
    padding-right: 10px;
    border-radius: 20px;
    width: 230px;
    height: 280px;
    box-shadow: #2B1847  8px 8px 8px 10px  ;
    transition: transform 0.5s;
    padding: 30px;
    
    
}

.intro h4:hover{
    
    transform: translateY(-100px);
    transform: translateX(-20px);
    transform: scale(1.05);
}

.botones {
    box-sizing: border-box;
    width: 50px;
    display: flex;
    padding-top: 10px;
    margin-left: 430px;
    gap: 280px;
    
}

.botones li{
    list-style: none;
    text-decoration: none;
}

.botones li a {
    
    text-shadow: #ffffff 0px 0px 3px;
    font-size: larger;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    background-color: #24013d;
    border-radius: 5px;
    box-sizing: border-box;
    width: max-content;
    display: inline-block;
    transition: transform 0.5s ease-in-out;
    
}

.botones  li a:hover{ /* Fix this before sending*/
    background-color: #0e041a;
    transform: translateX(2px);
    transform: scale(1.05);
}


.jojoh  h1{
  text-align: center;
  
}

.jojoh h1:hover{
    text-shadow: #ffffff 0px 0px 3px;
}


.jojoh h2{
  
  text-align: center;
}

.jojoh h2:hover{
    text-shadow: #ffffff 0px 0px 3px;
}

.araki-h1{
    text-align: center;
    padding-bottom: 20px;
}

.araki img{
     
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
  justify-content: center;
  margin-left: 525px;
  
}

.araki img:hover{
  box-shadow:  #ffffff 1px 1px 3px 3px;
  transform: scale(1.05);
  transform: translateX(1.08);
  
}

.araki p{
    margin-left: 30px;
    margin-right: 30px;
  text-align: center;
  padding: 10px;
  padding-bottom: 100px;
}

.araki-work{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  
}


.araki-work-1{
    padding: 20px;
    background-color: #24013d;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
    width: auto;
}
.araki-work-1:hover{
    transform: scale(1.05);
    transform: translateX(1.08);
    
  
}

.araki-work-2{
    padding: 20px;
    background-color: #24013d;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
}


.araki-work-2:hover{
    transform: scale(1.05);
    transform: translateX(1.08);
  
}


.araki-work-3{
    padding: 20px;
    background-color: #24013d;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
    
    
}

.araki-work-3:hover{
    transform: scale(1.05);
    transform: translateX(1.08);
  
}
.hist{
  text-align: center;
}

.hist h1{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.manga{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.manga p{
    margin-right: 20px;
    margin-left: 20px;
}

.manga img{
    padding: 20px;
    background-color: #24013d;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}

.manga img:hover{
  transform: scale(1.05);
}

.stands{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 10px;
}

.stands-h{
    padding-top: 40px;
    padding-bottom: 20px;
}

.stands img{
    padding: 20px;
    background-color: #24013d;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
  }
  
.stands img:hover{
    transform: scale(1.05);
  }

footer{
  justify-content: center;
    text-align: center;
    font-weight: bolder;
    background-color: #24013d;
}